<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="repo">
	<locations>
		<location path="${project_loc}/jaxws-core/" type="Directory"/>
		<location path="${project_loc}/jersey/" type="Directory"/>
		<location path="${project_loc}/jaxrs/" type="Directory"/>
		<location path="${project_loc}/hapi-fhir/" type="Directory"/>
		<location path="${project_loc}/websocket/" type="Directory"/>
		<location path="${project_loc:/elexis-target}/target/2025-03-java21/maven-p2" type="Directory"/>
		<location path="${project_loc:/elexis-target}/target/2025-03-java21/eclipse-p2" type="Directory"/>
		<location path="${project_loc}/oauth-filter/" type="Directory"/>
		<location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" missingManifest="generate" type="Maven">
			<dependencies>
				<dependency>
					<groupId>org.eclipse.jdt</groupId>
					<artifactId>org.eclipse.jdt.annotation</artifactId>
					<version>2.0.0</version>
					<type>jar</type>
				</dependency>
			</dependencies>
		</location>
	</locations>
</target>