<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="repo">
	<locations>
		<location path="${project_loc}/hapi-fhir/" type="Directory"/>
		<location path="${project_loc}/jaxws-core/" type="Directory"/>
		<location path="${project_loc}/ehealth-connector/" type="Directory"/>
		<location path="${project_loc}/noa4e/" type="Directory"/>
		<location path="${project_loc:/elexis-target}/target/2021-06-java11/eclipse-p2/" type="Directory"/>
		<location path="${project_loc:/elexis-target}/target/2021-06-java11/maven-p2" type="Directory"/>
		<location path="${project_loc}/swagger/" type="Directory"/>
	</locations>
</target>